header{
    background-color: grey;
    border-radius: 50px;
}
h1{
    font-family:monospace;
    font-size: 500%;
    color:aliceblue;
    text-align: center;
    
}
body {
      margin: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, sans-serif;
      font-size: 2rem;
      color: white;
      text-shadow: 0 0 10px rgba(0,0,0,0.5);
      background: linear-gradient(270deg, #ff6a00, #ee0979, #00c6ff, #0072ff);
      background-size: 800% 800%;
      animation: flow 12s ease infinite;
    }

    @keyframes flow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
}
footer{
    background-color: grey;
    border-radius: 50px;
}
nav{
    text-align: center;
}
.cen{
    border-radius: 50px;
    width: 20%;
}
div{ 
    background-color: darkcyan;
    font-size: 20px;
    border-radius: 50px;
    width:350px;
    color:white;
    font-family:monospace
}
#h2{
    font-family:monospace;
    font-size: 35px;
}
li{
    font-family:monospace
}
.ft{
    background-color: darkcyan;
    font-size: 20px;
    width: 100%;

}
